ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #555;
    background-color: #DEB887;
}
li {
    display: inline;
    text-align: left;
    border-left: 1px solid #555;
    float: left;
}
li:last-child {
    border-right: 1px solid #555;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #ff0000;
}